<div class="row">
    <!-- 左预留 -->
    <div class="logo col-xs-2">
        <a href="{{ reverse_url('index') }}">CSpider</a>
    </div>
    <!-- /.左预留 -->

    <!-- 导航 -->
    <div class="nav-bar col-xs-8">
        <ul>
            <li><a href="{{ reverse_url('index') }}"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="{{ reverse_url('spiders') }}"><i class="fa fa-bug"></i> Spiders</a></li>
            <li><a href="{{ reverse_url('monitor') }}"><i class="fa fa-desktop"></i> Monitor</a></li>
        </ul>
    </div>
    <!-- /.导航 -->

    <!-- 右预留 -->
    <div class="col-xs-2">

    </div>
    <!-- /.右预留 -->
</div>