/*
    样式初始化
 */
div,iframe, ul, ol, dl, dt, dd, li, dl,
h1, h2, h3, h4, table,th, td, input, button, select,
textarea,div,p {
    padding: 0;
    margin: 0;
}
div {
    display: block;
}
ol, ul ,li{
    list-style: none;
}
a {
    text-decoration: none;
}
/*
    清除浮动
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/*
    内容容器
 */
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
/*
    布局
 */
.row {

}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
/*
    动画效果属性
 */
.data-list li a:hover,
.article-title,
.nav ul li a {
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
/*
    头部导航栏
 */
#header {
    background: #f5f5f5;
    box-shadow: 1px 1px 3px #cfcfcf;
    position: fixed;
    z-index: 101;
    border: none;
    width: 100%;
    line-height: 50px;
    top: 0;
    left: 0;
}
#logo {
    text-align: center;
}
#logo a{
    color: rgb(85,26,139);
    text-decoration: none;
    font-size:20px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;padding:0 15px;
    font-weight:300;
    overflow:hidden
}
.nav ul {
    overflow: hidden;
    margin-top: 10px;
    line-height: 30px;
}
.nav ul li {
    float: left;
}
.nav ul li a {
    border-radius: 3px;
    display: block;
    padding: 0 20px;
    background: 0 0;
    color: black;
    font-size: 15px;
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.nav ul li a:hover {
    background: #e5e5e5;
}
/*
    BODY
 */
html {
    position: relative;
    min-height: 100%;
}
body {
    position: absolute;
    background: #f9f9f9;
    margin: 0;
    min-height: 100%;
    width: 100%;
}
/*
    页面内容
 */
#content{
    position: relative;
    margin-bottom: 140px;
    /*min-height: inherit;*/
    /*overflow: hidden;*/
    /*min-width: inherit;*/
}
@media (min-width: 768px) {
  #content {
    padding: 80px 9px 0;
  }
}
@media (min-width: 992px) {
  #content {
    padding: 80px 11px 0;
  }
}
@media (min-width: 1200px) {
  #content {
    padding: 80px 15px 0;
  }
}

/*
    页脚
 */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    color: #999999;
    height: 40px;
    text-align: center;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
}
#footer p {
    margin: 10px 0;
}
#footer a {
    color: rgb(85,26,139);
}
.footer {
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #999;
    z-index: 2;
    padding-bottom: 10px;
    font-size: 14px;
}
.footer p {
    margin: 10px 0;
}
.footer a {
    color: rgb(85,26,139);
}
/*
    my - btn
 */
.c-btn {
    background: none;
    font-size: 16px;
    padding: 6px 12px;
    text-align: center;
    cursor: pointer;
    /*border-radius: 3px;*/
    transition-property: all;
    transition-duration: 0.3s;
    border: 1px solid currentColor;
    border-top: none;
    border-bottom: none;
    /*border-right: 1px solid currentColor;*/
    /*border-left: 1px solid currentColor;*/
    }
.c-btn:hover {
    color: white;
}
/* 尺寸 */
.c-btn-art {
    font-size: 12px;
    width: 70px;
}
.c-btn-sm {
    font-size: 8px;
    width: 100px;
}
.c-btn-mid {
    font-size: 12px;
    width: 150px;
}
.c-btn-lg {
    width: 200px;
}
/* black */
.c-btn-black {
    color: black;
    border: 1px solid black;
}
.c-btn-black:hover {
    background: black;
}
/* red */
.c-btn-red {
    color: red;
    /*border: 1px solid red;*/
}
.c-btn-red:hover {
    background: red;
    /*border: 1px solid red;*/
}
/* blue */
.c-btn-blue {
    color: #0f88eb;
    border: 1px solid #0f88eb;
}
.c-btn-blue:hover {
    background: #0f88eb;
    border: 1px solid #0f88eb;
}
/* white */
.c-btn-white {
    color: white;
    /*border: 1px solid white;*/
}
.c-btn-white:hover {
    color: black;
    background: white;
    /*border: 1px solid white;*/
}
/*
    登陆界面
 */
.L-R-D{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}
.L-R-D h1{
    color: #999999;
    text-shadow:0 0 10px;
    letter-spacing: 1px;
    text-align: center;
    font-size: 2em;
    margin: 0.67em 0;
}
.L-R-D input{
    width: 278px;
    height: 18px;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: black;
    /*text-shadow:1px 1px 1px;*/
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: white;
}
.L-R-D button{
    width: 300px;
    min-height: 20px;
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
}
/* 登陆注册界面切换 */
.L-R-D-tab{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}
.L-R-D-tab .slide-nav{
    display: inline-block;
    position: relative;
}
.L-R-D-tab .slide-nav a{
    margin-left: 20px;
    margin-right: 20px;
    float: left;
    width: 4em;
    line-height: 35px;
    opacity: 0.7;
    -webkit-transition: opacity .15s,color .15s;
    transition: opacity .15s,color .15s;
    color: #555;
}
.L-R-D-tab .slide-nav a:hover{
    color: #0f88eb;
    opacity: 1;
}
.L-R-D-tab .slide-nav a.active{
    opacity: 1;
    color: #0f88eb;
}
.slide-bar {
    border-bottom: 2px solid blue;
}