<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}{% end %}</title>
        <!-- ico -->
        <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ static_url('favicon.ico') }}" type="image/x-icon">
        <!-- Style -->
        <link rel="stylesheet" href="{{ static_url('css/cichar_css.css') }}">
        <!-- font-awesome-->
        <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
    </head>

    <body>
        {% block body%}
        {% end %}
    </body>
</html>