{% extends "../base_file.html" %}

{% block container %}
<div class="row">
    {% block row %}
    {% end %}
    <!-- 左预留 -->
    <div class="col-xs-2">
        {% block left %}
        {% end %}
    </div>
    <!-- /.左预留 -->

    <!-- 主体内容 -->
    <div class="col-xs-8" id="main-content">
        {% block center %}

        {% end %}
    </div>
    <!-- /.主体内容 -->

    <!-- 右预留 -->
    <div class="col-xs-2">
        {% block right %}
        {% end %}
    </div>
    <!-- /.右预留 -->
</div>
{% end %}