{% extends "modules/content.html" %}

{% block left %}

{% end %}

{% block center %}
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="chart">
                        <!-- Chart Canvas -->
                        <canvas id="cluster_status_Chart"></canvas>
                    </div>
                </div>
            </div>

            <!-- table -->
            <table class="c-table text-center" id="workers-table" width="100%">
                <!-- table head -->
                <thead>
                    <tr>
                        <th class="col-xs-">Worker Name</th>
                        <th class="col-xs-" >Status</th>
                        <th class="col-xs-" >Running</th>
                        <th class="col-xs-" >Retry</th>
                        <th class="col-xs-" >Failed</th>
                        <th class="col-xs-" >Success</th>
                        <th class="col-xs-" >Received</th>
                    </tr>
                </thead>
                <!-- /.table head  -->

                <!-- table body -->
                <tbody>
                    {% for name, info in workers.items() %}
                    <tr id="{{ name }}">
                        <td>{{ name }}</td>
                        <td>{{ info.get('status', None) }}</td>
                        <td>{{ info.get('active', 0) or 0 }}</td>
                        <td>{{ info.get('task-retried', 0) }}</td>
                        <td>{{ info.get('task-failed', 0) }}</td>
                        <td>{{ info.get('task-succeeded', 0) }}</td>
                        <td>{{ info.get('task-received', 0) }}</td>
                    </tr>
                    {% end %}
                </tbody>
                <!-- /.table body -->
            </table>
            <!-- /.table -->
        </div>
    </div>
{% end %}

{% block right %}
{% end %}

{% block extra_scripts %}
<script src="{{ static_url('js/project/monitor.js') }}"></script>
{% end %}