{% extends "modules/content.html" %}

{% block center %}
    <div>
        {% for spider in spiders %}
        <a class="col-md-3 col-sm-4 col-xs-6 task-module" href="{{ reverse_url('spider_task') }}">
            <div class="task-module-box">
                <span class="task-module-box-icon"><img src="static/img/{{ spider.name }}.png" width="50" height="50"></span>

                <div class="task-module-box-content">
                    <span class="task-module-box-title">{{ spider.name }}</span>
                    <!--<span class="task-module-box-desc">test</span>-->
                </div>
                 <!--/.task-module-box-content -->
            </div>
        </a>
        {% end %}
    </div>
{% end %}

{% block extra_scripts %}
{% end %}