{% extends "modules/content.html" %}

{% block center %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Add Spider Task</h3>
        </div>
        <div class="box-body">
            <form action="{{ reverse_url('spider_task') }}" method="post">
                {% raw xsrf_form_html() %}
                <button type="submit" id="submit" name="submit" class="c-btn c-btn-blue" value="submit" style="margin-left: 45%">Add Task</button>
            </form>
        </div>
        <div class="box-footer"></div>
    </div>
{% end %}

{% block extra_scripts %}
{% end %}